@import '../../base/type-style.scss';
@import '../../base/style.scss';


.home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    height: 100vh;
    overflow: hidden;
    gap: 16px;
    box-sizing: border-box;
    padding: 64px;
}

.sharp-text{
    color: $brand-fg-1-default;
}
.home-badge{
    background-color: $brand-bg-1-default;
    color: $neutral-fg-10-default;
    position: relative;
    bottom: -20px;
    width: fit-content;
    padding: 8px;
    border-radius: 4px ;
}
.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80vh;
    min-height: 640px;
    gap: 64px;
    max-width: 1400px;
  

    @media screen and (max-width: 600px){
        flex-direction: column;
     
     }
}
.hero-logo{
    position: relative;
    left: -24px;
}


.hero-loop{
    height: 420px;

    @media screen and (max-width: 600px){
        height: fit-content;
        width: 100%;
     
     }
 
}

.hero-action{
    margin-top: 24px;
    display: flex;
    gap: 16px;
}
.hero-title{
    display: flex;
    flex-direction: column;
}


