@import '../../base/style.scss';

.main
{
    display: flex;
    flex-direction: row;
 
}
.view{
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;

    @media screen and (max-width: 780px){
        flex-direction: column;
        
        }
} 

.item
{   
    
}

.icon-view{
    img{
        max-width: 100px;
        height: 70px;
    }
}

.download-box{
    display: flex;
    flex-direction: row;
    padding: $space4;
    border: 1px solid $neutral-border-7-default;
    border-radius: $radius2;
    gap: $space3;
    align-items: center;

    div{
        width: 100%;
    }

}