$color--2: #00010a;
$color-brand-4: #000214;
$color-brand-6: #00031e;
$color-brand-8: #00031e;
$color-brand-10: #000532;
$color-brand-20: #010b65;
$color-brand-30: #011097;
$color-brand-40: #0216ca;
$color-brand-50: #021cfc;
$color-brand-60: #3549fd;
$color-brand-70: #6776fd;
$color-brand-80: #9aa4fe;
$color-brand-90: #ccd1fe;
$color-brand-92: #d7dbff;
$color-brand-94: #e1e4ff;
$color-brand-96: #ebedff;
$color-brand-98: #f5f6ff;
$color-brand-99: #fafaff;
$color-yellow-2: #060500;
$color-yellow-4: #0b0a00;
$color-yellow-6: #110e00;
$color-yellow-8: #161300;
$color-yellow-10: #1c1800;
$color-yellow-20: #554800;
$color-yellow-30: #8e7800;
$color-yellow-40: #c6a800;
$color-yellow-50: #ffd800;
$color-yellow-60: #ffe139;
$color-yellow-70: #ffe971;
$color-yellow-80: #fff2aa;
$color-yellow-90: #fffbe3;
$color-yellow-92: #fffce9;
$color-yellow-94: #fffdee;
$color-yellow-96: #fffdf4;
$color-yellow-98: #fffef9;
$color-neutral-2: #030303;
$color-neutral-4: #060606;
$color-neutral-6: #080808;
$color-neutral-8: #0b0b0b;
$color-neutral-10: #0e0e0e;
$color-neutral-20: #2b2b2b;
$color-neutral-30: #474747;
$color-neutral-40: #646464;
$color-neutral-50: #808080;
$color-neutral-60: #9c9c9c;
$color-neutral-70: #b8b8b8;
$color-neutral-80: #d5d5d5;
$color-neutral-90: #f1f1f1;
$color-neutral-92: #f3f3f3;
$color-neutral-94: #f7f7f7;
$color-neutral-96: #f9f9f9;
$color-neutral-98: #fcfcfc;
$color-neutral-0: #000000;
$color-neutral-100: #ffffff;
$color-red-10: #310202;
$color-red-20: #620404;
$color-red-30: #940505;
$color-red-40: #c50808;
$color-red-50: #f60a0a;
$color-red-60: #f83a3a;
$color-red-70: #fa6b6b;
$color-red-80: #ffaaaa;
$color-red-90: #ffe3e3;

$color-green-2: #000401;
$color-green-4: #000803;
$color-green-6: #000d04;
$color-green-8: #001106;
$color-green-10: #001507;
$color-green-20: #014014;
$color-green-30: #026b21;
$color-green-40: #02952f;
$color-green-50: #03c03c;
$color-green-60: #3bce67;
$color-green-70: #73dc93;
$color-green-80: #abeabe;
$color-green-90: #e3f8e9;
$color-green-92: #e9f9ed;
$color-green-94: #eefbf2;
$color-green-96: #f4fcf6;
$color-green-98: #f9fefc;
$color-brand-45: #0216ca;
$color-brand-55: #1c33fd;
$color-brand-65: #4f60fd;
$color-red-2: #0a0000;
$color-red-4: #140101;
$color-red-6: #1d0101;
$color-red-8: #270202;
$color-red-92: #ffe9e9;
$color-red-94: #ffeeee;
$color-red-96: #fff4f4;
$color-red-98: #fff9f9;
$color-brand-100: #ffffff;
$color-brand-0: #000000;
$color-red-100: #ffffff;
$color-red-0: #000000;
$color-yellow-100: #ffffff;
$color-yellow-0: #000000;
$color-green-0: #000000;
$color-green-100: #ffffff;
$color-red-55: #f72222;
$color-red-65: #f95353;
$color-red-25: #7b0505;
$color-red-45: #de0909;
$color-red-35: #ad0707;
$color-yellow-25: #716000;
$color-yellow-35: #aa9000;
$color-yellow-45: #e3c000;
$color-yellow-55: #ffdc1c;
$color-yellow-65: #ffe555;
$color-green-25: #01551b;
$color-green-35: #028028;
$color-green-45: #03ab35;
$color-green-55: #1fc752;
$color-green-65: #57d57d;
$color-brand-25: #020e7e;
$color-brand-35: #0213b1;
$color-orange-0: #000000;
$color-orange-2: #060201;
$color-orange-4: #0b0402;
$color-orange-6: #110604;
$color-orange-8: #160805;
$color-orange-10: #1c0a06;
$color-orange-20: #551e12;
$color-orange-25: #712818;
$color-orange-30: #8e321e;
$color-orange-35: #aa3c24;
$color-orange-40: #c6462a;
$color-orange-45: #e35030;
$color-orange-50: #ff5a36;
$color-orange-55: #ff6c4c;
$color-orange-60: #ff7f63;
$color-orange-65: #ff9179;
$color-orange-70: #ffa38f;
$color-orange-80: #ffc8bc;
$color-orange-90: #ffede9;
$color-orange-92: #fff1ed;
$color-orange-94: #fff4f2;
$color-orange-96: #fff8f6;
$color-orange-98: #fffbfb;
$color-orange-85: #ffdad2;
$color-orange-100: #ffffff;

$color-orange-75: #ffb6a6;
$color-neutral-75: #c7c7c7;
$color-neutral-15: #1c1c1c;
$color-neutral-25: #393939;
$color-neutral-35: #555555;
$color-neutral-45: #727272;
$color-neutral-55: #8e8e8e;
$color-neutral-65: #aaaaaa;
$color-neutral-85: #e3e3e3;
$color-alice-blue-85: #fbfdfd;
$color-orange-15: #39140c;
$color-red-15: #380000;
$color-red-75: #ff8e8e;
$color-red-85: #ffc6c6;
$color-yellow-15: #393000;
$color-yellow-85: #fff6c6;
$color-yellow-75: #ffee8e;
$color-green-85: #c7f1d4;
$color-green-75: #8fe3a8;
$color-green-15: #012b0d;
$color-purple-0: #000000;
$color-purple-2: #020006;
$color-purple-4: #05000b;
$color-purple-6: #070011;
$color-purple-8: #0a0016;
$color-purple-10: #0c001c;
$color-purple-15: #190039;
$color-purple-20: #250055;
$color-purple-25: #310071;
$color-purple-30: #3e008e;
$color-purple-35: #4a00aa;
$color-purple-40: #5600c6;
$color-purple-45: #6300e3;
$color-purple-50: #6f00ff;
$color-purple-55: #7f1cff;
$color-purple-60: #8f39ff;
$color-purple-65: #9f55ff;
$color-purple-70: #af71ff;
$color-purple-75: #bf8eff;
$color-purple-80: #cfaaff;
$color-purple-85: #dfc6ff;
$color-purple-90: #efe3ff;
$color-purple-92: #f2e9ff;
$color-purple-94: #f5eeff;
$color-purple-96: #f9f4ff;
$color-purple-98: #fcf9ff;
$color-purple-100: #ffffff;
$color-brand-subtle-0: #021cfc00;
$color-brand-subtle-10: #021cfc10;
$color-brand-subtle-20: #021cfc20;
$color-brand-subtle-30: #021cfc30;
$color-brand-subtle-40: #021cfc40;
$color-neutral-subtle-dark-10: #00000010;
$color-brand-subtle-15: #021cfc15;
$color-brand-subtle-25: #021cfc25;
$color-brand-subtle-35: #021cfc35;
$color-neutral-subtle-dark-15: #00000015;
$color-brand-subtle-45: #021cfc45;
$color-neutral-subtle-dark-20: #00000020;
$color-brand-subtle-50: #021cfc50;
$color-neutral-subtle-dark-25: #00000025;
$color-neutral-subtle-dark-30: #00000030;
$color-brand-subtle-5: #021cfc05;
$color-neutral-subtle-dark-35: #00000035;
$color-neutral-subtle-dark-40: #00000040;
$color-neutral-subtle-dark-45: #00000045;
$color-neutral-subtle-dark-50: #00000050;
$color-neutral-subtle-dark-5: #00000005;
$color-neutral-subtle-light-5: #ffffff05;
$color-neutral-subtle-light-10: #ffffff10;
$color-neutral-subtle-light-15: #ffffff25;
$color-neutral-subtle-light-20: #ffffff20;
$color-neutral-subtle-light-25: #ffffff25;
$color-neutral-subtle-light-30: #ffffff30;
$color-neutral-subtle-light-35: #ffffff35;
$color-neutral-subtle-light-40: #ffffff40;
$color-neutral-subtle-light-45: #ffffff45;
$color-neutral-subtle-light-50: #ffffff50;
$color-neutral-subtle-dark-0: #00000000;
$color-neutral-subtle-light-0: #ffffff00;
$color-red-subtle-0: #f60a0a00;
$color-red-subtle-5: #f60a0a05;
$color-red-subtle-10: #f60a0a10;
$color-red-subtle-15: #f60a0a15;
$color-red-subtle-20: #f60a0a20;
$color-red-subtle-25: #f60a0a25;
$color-red-subtle-30: #f60a0a30;
$color-red-subtle-35: #f60a0a35;
$color-red-subtle-40: #f60a0a40;
$color-red-subtle-45: #f60a0a45;
$color-red-subtle-50: #f60a0a50;


$radius-0: 0px;
$radius-0-125: 2px;
$radius-0-25: 4px;
$radius-0-50: 8px;
$radius-0-75: 12px;
$radius-1: 16px;
$radius-1-5: 24px;
$radius-2: 32px;
$radius-6: 96px;


$space-0: 0px;
$space-0-125: 2px;
$space-0-25: 4px;
$space-0-50: 8px;
$space-0-75: 12px;
$space-1: 16px;
$space-1-5: 24px;
$space-2: 32px;
$space-2-5: 40px;
$space-3: 48px;
$space-4: 64px;
$space-5: 80px;
$space-6: 96px;