:root{
--brand-bg-1-default: var(--color-yoko-50);
--brand-bg-1-hover: var(--color-yoko-40);
--brand-bg-1-press: var(--color-yoko-30);
--brand-bg-1-disable: var(--color-black-white-80);
--neutral-bg-8-default: var(--color-black-white-20);
--neutral-fg-10-default: var(--color-black-white-100);
--neutral-bg-8-hover: var(--color-black-white-25);
--neutral-bg-8-press: var(--color-black-white-30);
--neutral-bg-8-disable: var(--color-black-white-75);
--neutral-border-2-default: var(--color-black-white-40);
--state-error-bg-1-default: var(--color-full-red-50);
--neutral-fg-5-default: var(--color-black-white-40);
--state-error-bg-1-hover: var(--color-full-red-40);
--state-error-bg-1-press: var(--color-full-red-30);
--state-error-bg-1-disable: var(--color-black-white-80);
--neutral-bg-1-default: var(--color-black-white-100);
--neutral-bg-1-hover: var(--color-black-white-96);
--neutral-bg-1-press: var(--color-black-white-90);
--neutral-bg-1-disable: var(--color-black-white-100);
--neutral-fg-5-disable: var(--color-black-white-80);
--neutral-fg-5-hover: var(--color-black-white-30);
--neutral-fg-5-press: var(--color-black-white-20);
--neutral-border-2-hover: var(--color-black-white-30);
--neutral-border-2-press: var(--color-black-white-20);
--neutral-border-2-disable: var(--color-black-white-80);
--brand-fg-1-default: var(--color-yoko-50);
--brand-fg-1-hover: var(--color-yoko-40);
--brand-fg-1-press: var(--color-yoko-30);
--brand-fg-1-disable: var(--color-black-white-80);
--state-error-fg-1-default: var(--color-full-red-50);
--state-error-fg-1-hover: var(--color-full-red-40);
--state-error-fg-1-press: var(--color-full-red-30);
--state-error-fg-1-disable: var(--color-black-white-80);
--neutral-fg-2-default: var(--color-black-white-10);
--neutral-fg-2-hover: var(--color-black-white-15);
--neutral-fg-2-press: var(--color-black-white-20);
--neutral-fg-2-disable: var(--color-black-white-80);
--neutral-fg-6-default: var(--color-black-white-60);
--neutral-border-6-default: var(--color-black-white-70);
--neutral-border-9-default: var(--color-black-white-90);
--brand-border-1-default: var(--color-yoko-50);
--brand-border-1-hover: var(--color-yoko-40);
--brand-border-1-press: var(--color-yoko-30);
--brand-border-1-disable: var(--color-black-white-80);
--neutral-bg-3-default: var(--color-black-white-96);
--neutral-border-6-disable: var(--color-black-white-80);
--neutral-border-10-default: var(--color-black-white-100);
--neutral-bg-4-default: var(--color-black-white-90);
--neutral-fg-6-hover: var(--color-black-white-50);
--neutral-fg-6-press: var(--color-black-white-40);
--neutral-fg-6-disable: var(--color-black-white-80);
--state-warning-bg-1-default: var(--color-school-bus-yellow-50);
--state-warning-bg-1-hover: var(--color-school-bus-yellow-45);
--state-warning-bg-1-press: var(--color-school-bus-yellow-40);
--state-warning-bg-1-disable: var(--color-black-white-80);
--state-success-bg-1-default: var(--color-dark-pastel-green-60);
--state-success-bg-1-hover: var(--color-dark-pastel-green-50);
--state-success-bg-1-press: var(--color-dark-pastel-green-40);
--state-success-bg-1-disable: var(--color-black-white-80);
--state-warning-fg-1-default: var(--color-school-bus-yellow-50);
--state-warning-fg-1-hover: var(--color-school-bus-yellow-45);
--state-warning-fg-1-press: var(--color-school-bus-yellow-40);
--state-warning-fg-1-disable: var(--color-black-white-80);
--state-success-fg-1-default: var(--color-dark-pastel-green-60);
--state-success-fg-1-hover: var(--color-dark-pastel-green-50);
--state-success-fg-1-press: var(--color-dark-pastel-green-40);
--state-success-fg-1-disable: var(--color-black-white-80);
--neutral-bg-10-default: var(--color-black-white-0);
--neutral-bg-subtle-bold-1-default: var(--color-black-white-subtle-dark-0);
--neutral-bg-subtle-bold-1-hover: var(--color-black-white-subtle-dark-5);
--neutral-bg-subtle-bold-1-press: var(--color-black-white-subtle-dark-10);
--neutral-bg-subtle-bold-1-disable: var(--color-black-white-subtle-dark-0);
--brand-bg-subtle-1-default: var(--color-yoko-subtle-0);
--brand-bg-subtle-1-hover: var(--color-yoko-subtle-10);
--brand-bg-subtle-1-press: var(--color-yoko-subtle-15);
--brand-bg-subtle-1-disable: var(--color-yoko-subtle-0);
--state-error-border-1-default: var(--color-full-red-50);
--state-error-border-1-hover: var(--color-full-red-40);
--state-error-border-1-press: var(--color-full-red-30);
--brand-border-1-select: var(--color-yoko-25);
--state-error-bg-subtle-default: var(--color-full-red-subtle-0);
--state-error-bg-subtle-hover: var(--color-full-red-subtle-10);
--state-error-bg-subtle-press: var(--color-full-red-subtle-15);
--state-error-bg-subtle-disable: var(--color-full-red-subtle-0);
--neutral-border-focus-dark: var(--color-black-white-0);
--neutral-border-focus-light: var(--color-black-white-100);
--neutral-bg-subtle-light-2-default: var(--color-black-white-subtle-light-5);
--neutral-bg-10-hover: var(--color-black-white-10);
--neutral-bg-10-press: var(--color-black-white-15);
--neutral-bg-10-disable: var(--color-black-white-75);
--neutral-fg-1-default: var(--color-black-white-0);
--neutral-fg-1-hover: var(--color-black-white-10);
--neutral-fg-1-press: var(--color-black-white-15);
--neutral-fg-1-disable: var(--color-black-white-80);
--brand-bg-subtle-2-default: var(--color-yoko-subtle-10);
--neutral-bg-2-default: var(--color-black-white-98);
--neutral-bg-subtle-bold-2-default: var(--color-black-white-subtle-dark-5);
--neutral-bg-2-hover: var(--color-black-white-94);
--neutral-bg-2-press: var(--color-black-white-90);
--neutral-bg-2-disable: var(--color-black-white-96);
--state-success-border-1-default: var(--color-dark-pastel-green-50);
--state-success-border-1-hover: var(--color-dark-pastel-green-40);
--state-success-border-1-press: var(--color-dark-pastel-green-30);
--neutral-border-6-hover: var(--color-black-white-60);
--neutral-border-6-press: var(--color-black-white-50);
--neutral-fg-6-select: var(--color-black-white-35);
--neutral-fg-8-default: var(--color-black-white-80);
--neutral-fg-8-hover: var(--color-black-white-70);
--neutral-fg-8-press: var(--color-black-white-60);
--neutral-fg-8-disable: var(--color-black-white-100);
--neutral-fg-10-hover: var(--color-black-white-90);
--neutral-fg-10-press: var(--color-black-white-80);
--neutral-fg-10-disable: var(--color-black-white-100);
--neutral-fg-9-default: var(--color-black-white-90);
--neutral-fg-9-hover: var(--color-black-white-80);
--neutral-fg-9-press: var(--color-black-white-70);
--neutral-fg-9-disable: var(--color-black-white-100);
--neutral-border-1-default: var(--color-black-white-0);
--neutral-border-7-default: var(--color-black-white-80);
--neutral-border-3-default: var(--color-black-white-50);
--neutral-border-3-hover: var(--color-black-white-40);
--neutral-border-3-press: var(--color-black-white-30);
--neutral-border-3-disable: var(--color-black-white-80);
--neutral-border-1-hover: var(--color-black-white-10);
--neutral-border-1-press: var(--color-black-white-20);
--neutral-border-1-disable: var(--color-black-white-80);
--neutral-border-10-hover: var(--color-black-white-90);
--neutral-border-10-press: var(--color-black-white-80);
--neutral-border-10-disable: var(--color-black-white-100);
--status-orange-fg-1-default: var(--color-tomato-orange-50);
--status-orange-fg-1-hover: var(--color-tomato-orange-45);
--status-orange-fg-1-press: var(--color-tomato-orange-40);
--status-orange-fg-1-disable: var(--color-black-white-80);
--status-orange-bg-1-default: var(--color-tomato-orange-50);
--status-orange-bg-1-hover: var(--color-tomato-orange-45);
--status-orange-bg-1-press: var(--color-tomato-orange-40);
--status-orange-bg-1-disable: var(--color-black-white-80);
--status-purple-fg-1-default: var(--color-electric-indigo-50);
--status-purple-fg-1-hover: var(--color-electric-indigo-45);
--status-purple-fg-1-press: var(--color-electric-indigo-40);
--status-purple-fg-1-disable: var(--color-black-white-80);
--status-purple-bg-1-default: var(--color-electric-indigo-50);
--status-purple-bg-1-hover: var(--color-electric-indigo-45);
--status-purple-bg-1-press: var(--color-electric-indigo-40);
--status-purple-bg-1-disable: var(--color-black-white-80);
--status-orange-border-1-default: var(--color-tomato-orange-50);
--status-orange-border-1-hover: var(--color-tomato-orange-45);
--status-orange-border-1-press: var(--color-tomato-orange-40);
--status-orange-border-1-disable: var(--color-black-white-80);
--status-purple-border-1-default: var(--color-electric-indigo-50);
--status-purple-border-1-hover: var(--color-electric-indigo-45);
--status-purple-border-1-press: var(--color-electric-indigo-40);
--status-purple-border-1-disable: var(--color-black-white-80);
--state-info-bg-1-default: var(--color-yoko-50);
--state-info-bg-1-hover: var(--color-yoko-40);
--state-info-bg-1-press: var(--color-yoko-30);
--neutral-border-8-default: var(--color-black-white-85);
--neutral-fg-3-default: var(--color-black-white-20);
--neutral-fg-3-hover: var(--color-black-white-25);
--neutral-fg-3-press: var(--color-black-white-30);
--neutral-fg-3-disable: var(--color-black-white-80);
--neutral-fg-4-default: var(--color-black-white-40);
--neutral-fg-4-hover: var(--color-black-white-50);
--neutral-fg-4-press: var(--color-black-white-60);
--neutral-fg-4-disable: var(--color-black-white-80);
--neutral-bg-5-default: var(--color-black-white-80);
--neutral-bg-5-hover: var(--color-black-white-75);
--neutral-bg-5-press: var(--color-black-white-70);
--neutral-bg-5-disable: var(--color-black-white-90);
--neutral-bg-6-default: var(--color-black-white-70);
--neutral-bg-6-hover: var(--color-black-white-65);
--neutral-bg-6-press: var(--color-black-white-60);
--neutral-bg-6-disable: var(--color-black-white-80);
--neutral-border-9-hover: var(--color-black-white-85);
--neutral-border-9-press: var(--color-black-white-75);
--neutral-border-9-disable: var(--color-black-white-80);
--neutral-bg-subtle-bold-2-hover: var(--color-black-white-subtle-dark-10);
--neutral-bg-subtle-bold-2-press: var(--color-black-white-subtle-dark-15);
--neutral-bg-subtle-bold-2-disable: var(--color-black-white-subtle-dark-0);
--neutral-bg-subtle-light-2-hover: var(--color-black-white-subtle-light-10);
--neutral-bg-subtle-light-2-press: var(--color-black-white-subtle-light-15);
--neutral-bg-subtle-light-2-disable: var(--color-black-white-subtle-light-0);
--neutral-border-7-hover: var(--color-black-white-70);
--neutral-border-7-press: var(--color-black-white-60);
--neutral-border-7-disable: var(--color-black-white-100);
--neutral-bg-1-select: var(--color-black-white-85);
--neutral-bg-2-select: var(--color-black-white-85);
--neutral-border-8-hover: var(--color-black-white-75);
--neutral-border-8-press: var(--color-black-white-65);
--neutral-border-8-disable: var(--color-black-white-100);
--neutral-bg-3-select: var(--color-black-white-80);
--neutral-bg-3-disable: var(--color-black-white-90);
--neutral-bg-3-hover: var(--color-black-white-92);
--neutral-bg-3-press: var(--color-black-white-85);
--neutral-border-10-select: var(--brand-border-1-default);
--brand-bg-1-select: var(--color-yoko-25);
--neutral-border-1-select: var(--brand-border-1-default);
--neutral-border-2-select: var(--brand-border-1-default);
--neutral-border-3-select: var(--brand-border-1-default);
--neutral-border-6-select: var(--brand-border-1-default);
--neutral-border-7-select: var(--brand-border-1-default);
--neutral-border-8-select: var(--brand-border-1-default);
--neutral-border-9-select: var(--brand-border-1-default);
--brand-bg-subtle-1-select: var(--color-yoko-subtle-20);
--brand-bg-subtle-2-hover: var(--color-yoko-subtle-15);
--neutral-bg-4-hover: var(--color-black-white-85);
--neutral-bg-4-press: var(--color-black-white-80);
--neutral-bg-4-select: var(--color-black-white-75);
--neutral-bg-4-disable: var(--color-black-white-92);
--brand-bg-subtle-2-press: var(--color-yoko-subtle-20);
--brand-bg-subtle-2-select: var(--color-yoko-subtle-25);
--brand-bg-subtle-2-disable: var(--color-yoko-subtle-0);
--neutral-bg-5-select: var(--color-black-white-65);
--brand-fg-1-select: var(--color-yoko-25);
--neutral-bg-6-select: var(--color-black-white-55);
--neutral-bg-8-select: var(--color-black-white-20);
--neutral-bg-10-select: var(--color-black-white-25);
--neutral-bg-subtle-bold-1-select: var(--color-black-white-subtle-dark-10);
--neutral-bg-subtle-bold-2-select: var(--color-black-white-subtle-dark-20);
--neutral-bg-subtle-light-2-select: var(--color-black-white-subtle-light-20);
--neutral-fg-1-select: var(--color-black-white-20);
--neutral-fg-10-select: var(--color-black-white-75);
--neutral-fg-9-select: var(--color-black-white-65);
--neutral-fg-8-select: var(--color-black-white-55);
--neutral-fg-5-select: var(--color-black-white-15);
--neutral-fg-4-select: var(--color-black-white-55);
--neutral-fg-3-select: var(--color-black-white-35);
--neutral-fg-2-select: var(--color-black-white-25);
--state-warning-bg-1-select: var(--color-school-bus-yellow-35);
--state-warning-fg-1-select: var(--color-school-bus-yellow-35);
--state-error-bg-1-select: var(--color-full-red-25);
--state-error-bg-subtle-select: var(--color-full-red-subtle-20);
--state-error-fg-1-select: var(--color-full-red-25);
--state-error-border-1-select: var(--color-full-red-25);
--state-error-border-1-disable: var(--color-black-white-80);
--state-success-bg-1-select: var(--color-dark-pastel-green-35);
--state-success-fg-1-select: var(--color-dark-pastel-green-35);
--state-success-border-1-select: var(--color-dark-pastel-green-25);
--state-success-border-1-disable: var(--color-black-white-80);
--state-info-bg-1-select: var(--color-yoko-25);
--status-purple-fg-1-select: var(--color-electric-indigo-35);
--status-purple-bg-1-select: var(--color-electric-indigo-35);
--status-purple-border-1-select: var(--color-electric-indigo-35);
--status-orange-fg-1-select: var(--color-tomato-orange-35);
--status-orange-bg-1-select: var(--color-tomato-orange-35);
--status-orange-border-1-select: var(--color-tomato-orange-35);
--state-info-bg-1-disable: var(--color-black-white-80);
--neutral-fg-on-color-light-default: var(--color-black-white-100);
--neutral-fg-on-color-light-hover: var(--color-black-white-90);
--neutral-fg-on-color-light-press: var(--color-black-white-80);
--neutral-fg-on-color-light-select: var(--color-black-white-75);
--neutral-fg-on-color-light-disable: var(--color-black-white-100);
--neutral-fg-on-color-dark-default: var(--color-black-white-0);
--neutral-fg-on-color-dark-hover: var(--color-black-white-10);
--neutral-fg-on-color-dark-press: var(--color-black-white-15);
--neutral-fg-on-color-dark-select: var(--color-black-white-20);
--neutral-fg-on-color-dark-disable: var(--color-black-white-80);
--neutral-bg-subtle-light-1-default: var(--color-black-white-subtle-light-0);
--neutral-bg-subtle-light-1-hover: var(--color-black-white-subtle-light-5);
--neutral-bg-subtle-light-1-press: var(--color-black-white-subtle-light-10);
--neutral-bg-subtle-light-1-select: var(--color-black-white-subtle-light-15);
--neutral-bg-subtle-light-1-disable: var(--color-black-white-subtle-light-0);
--state-info-fg-1-default: var(--color-yoko-50);
--state-info-fg-1-hover: var(--color-yoko-40);
--state-info-fg-1-press: var(--color-yoko-30);
--state-info-fg-1-select: var(--color-yoko-25);
--state-info-fg-1-disable: var(--color-black-white-80);
--state-info-border-1-default: var(--color-yoko-50);
--state-info-border-1-hover: var(--color-yoko-40);
--state-info-border-1-press: var(--color-yoko-30);
--state-info-border-1-select: var(--color-yoko-25);
--state-info-border-1-disable: var(--color-black-white-80);
--state-warning-border-1-default: var(--color-school-bus-yellow-50);
--state-warning-border-1-hover: var(--color-school-bus-yellow-45);
--state-warning-border-1-press: var(--color-school-bus-yellow-40);
--state-warning-border-1-select: var(--color-school-bus-yellow-35);
--state-warning-border-1-disable: var(--color-black-white-80);
}