@import url(./_directory.scss);
:root{
--space0: var(--space-0);
--space0-5: var(--space-0-125);
--space1: var(--space-0-25);
--space2: var(--space-0-50);
--space3: var(--space-0-75);
--space4: var(--space-1);
--space6: var(--space-1-5);
--space8: var(--space-2);
--space10: var(--space-2-5);
--space12: var(--space-3);
--space16: var(--space-4);
--space20: var(--space-5);
--space24: var(--space-6);
}