@import '../../base/style.scss';
.slider-container {
   appearance: none;
   position: relative;
    left: 0;
    right: 0;

}

.slider {
    appearance: none;
    width: 100%;
    height: 4px;
    border-radius: $circular;
    background-color: $neutral-bg-4-default;
    position: relative;
    left: 0;
    right: 0;

    &:hover{
        background-color: $neutral-bg-4-hover; 
    }
   
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: $neutral-bg-1-default;
    border: 2px solid $brand-border-1-default;
    border-radius: $circular;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: #1104d1;
    cursor: pointer;
  }
    
    

.labels {
    display: flex;
    justify-content: space-between;
    padding: $space3 $space1;
}
