@import '../../base/style.scss';

.sub-header
{
    position: sticky;
    top: 116px;
    background-color: $neutral-bg-1-default;
    border-bottom: 1px solid $neutral-border-7-default;
    padding: $space2 $space6;


}