
@import '../../bace/color-light.scss';
@import '../../bace/radius.scss';
@import '../../bace/space.scss';

.header{
   display: flex;
   flex-direction: row;
   align-items: center;
    flex-grow: 1;
    gap: 16px;;
    background-color: $neutral-bg-1-default;
    border-bottom: 1px solid $neutral-border-7-default;
    padding-top:$space6;
    padding-bottom: $space6;
    padding-left: $space8;
    padding-right: $space8;
    
    .search-div{
        flex-grow: 1;
        align-items: center;
        display: flex;
    }

}


.search-box
{
    display: flex;
    flex-direction: column;
    background-color: $neutral-bg-1-default;
    border: 1px solid $neutral-border-6-default;
    padding: $space3 $space2;
    width: 100%;
    height: 38px;
    color: $neutral-fg-6-default;
    outline: none;
    border-radius: $radius1;
    cursor:text;

    input{
        flex-grow: 1;
        padding: $space0-5 $space0;
        border: 0px;

        &:hover{

            border: 0px solid transparent;
        }

        &:focus-visible{
            outline: 0px solid transparent;
        }
    }
}
