@import '../../base/style.scss';

.sub-header
{

    background-color: $neutral-bg-1-default;
    border-bottom: 1px solid $neutral-border-7-default;
    padding: $space2 $space6;
    box-sizing: border-box;
    width: 100%;

    @media screen and (max-width: 1200px){
        display: none;
        padding: $space2 $space4;
       
    }

}
.or-header{
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 116px;
    box-sizing: border-box;
    border-bottom: 1px solid $neutral-border-7-default;
    background-color: $neutral-bg-1-default;
    height: 116px;

    @media screen and (max-width: 1200px){
       height: 80px;
    }

}

.or-header-body{
    width: 100%;
    display: flex;
    padding: 24px 32px;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    height: 116px;

    @media screen and (max-width: 1200px){
        padding: 8px 8px;
     }
   
}

.logo{
    padding: $space0 $space0;
    width: 150px;
    height: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: 24px;
  

    span{
       
        background-color: $brand-bg-1-default;
        color: $neutral-fg-10-default;
        padding: $space0-5 $space1;
        border-radius: $radius1;


    }

   
}
.header-actions{
    display: flex;
    gap: 16px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
   

    :hover{
        color: #000000;
    }

    a{
        color: #4f4f4f;
        text-decoration: none;
    }
    
}