
@import '../../base/style.scss';

.main-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $space8 ;
    background-color: $neutral-bg-1-default;
    border-bottom: 1px solid $neutral-border-7-default;
    padding-top:$space6;
    padding-bottom: $space6;
    padding-left: $space8;
    padding-right: $space8;
    position: sticky;
    top: 0px;
    height: 67px ;
    
    .search-div{
        flex-grow: 1;
        align-items: center;
        display: flex;
    }

}

.search-box
{
    display: flex;
    background-color: $neutral-bg-1-default;
    border: 1px solid $neutral-border-6-default;
    padding: $space3 $space2;
    width: 100%;
    height: 26px;
    color: $neutral-fg-6-default;
    outline: none;
    border-radius: $radius1;
    cursor:text;
    align-items: center;
    gap: $space2;

    input{
        flex-grow: 1;
        padding: $space0-5 $space0;
        border: 0px;
        height: 46px;

        &:hover{

            border: 0px solid transparent;
        }

        &:focus-visible{
            outline: 0px solid transparent;
        }
    }
}

.icon-pack-title{
    display: flex;
    width: 112px;   
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: $space0;
    

    span{
        &t3-strong{
            color: $neutral-fg-1-default;
        }
        
        &.b1{
            color: $neutral-fg-4-default;
        }
        
    }
    @media screen and (max-width: 1200px){
        display: none;
    }
   
}
.logo{
    padding: $space0 $space4;

   
}

.header-action
{
    display:flex;
    gap: $space3;
    @media screen and (max-width: 1200px){
        display: none;
    }
    

}
.mobile-actions
{
    @media screen and (min-width: 1200px){
        display: none;
    }
}
