@import '../../base/style.scss';

.logs {
    width: 100%;
    background-color: $neutral-bg-1-default;
    transition: height 0.3s ease-in-out;
    border-radius: 20px;
    padding: 0px;
    box-sizing: border-box;
    // gap: $space4;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -24px;

   
  }

  .logs-item{
    display: flex;
    flex-direction: row;

    gap: $space2;

    @media screen and (max-width: 600px){
      flex-direction: column;
     
      gap: $space2;
   }

  }
  .logs-version-date{
    color: $neutral-fg-4-default;
  }

  .logs-version{
    color: $neutral-fg-5-default;
    border-radius: $circular;

    @media screen and (max-width: 600px){
      width: fit-content;
   }

  }
  

  .logs-list-item{

    padding: 0px 16px;
    margin: 0px;
    color: $neutral-fg-1-default;
    
  }
  .logs-header{
    display: flex;
    flex-direction: column;
    width: 120px;
    padding-top: 24px;

    @media screen and (max-width: 600px){
      display: none;
   }


  }
  .logs-header-mobile{
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    padding-left: 32px;

    @media screen and (min-width: 600px){
      display: none;
   }
  }
    
  .logs-type{
    background-color: $neutral-bg-3-default;
    color: $neutral-fg-2-default;
    padding: $space0 $space2;
    border-radius: $circular;
    width: fit-content;
  }

  .logs-list{
   
    display: flex;
    flex-direction: column;
    gap: $space1;
    padding-left: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .changes-list{
    display: flex;
    flex-direction: column;
    padding: 8px 0px;
     border-left: 3px solid $neutral-border-7-default;

     

  }
  .title-dot{
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 4px solid $brand-bg-1-default;
    position: relative;
    left: -10px;
    top: 24px;
    border-radius: 50px;
  }