@import '../../bace/style.scss';

.or-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $neutral-bg-1-default;
    border: 1px solid $neutral-border-2-default;
    transition: .4s;
    border-radius: 34px;
}

.slider-switch:before {
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: rgb(160, 32, 32);
    transition: .4s;
}

input:checked + .slider {
    background-color: #10e650;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.switch-label {
    margin-left: 10px;
    font-size: 14px;
}
