.app-container{
    display: flex;
    flex-direction: row;
    // overflow: hidden;
    height: 100vh;



    @media screen and (max-width: 780px){
        flex-direction: column-reverse;
 
     }

}
.main-content{
    width: 100%;
    overflow: hidden;


}