:root{
    @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
    }
@import './base/style.scss';

.main
{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;

 
}
.view{
    width: 100%;
    min-width: 0;


   
} 

.item
{   
    
}

.icon-view{
    img{
        max-width: 100px;
        height: 70px;
    }
}


.main-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}

.content-container{
    max-width: 1400px;  
    padding: $space6;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 120px;
    overflow: hidden;
    box-sizing: border-box;

    @media screen and (max-width: 1200px){

        padding-bottom: 320px;
    }

    @media screen and (max-width: 600px){
        padding: $space4;
        padding-bottom: 320px;

  
     }

}
