@import './_directory.scss';

$space0: $space-0;
$space0-5: $space-0-125;
$space1: $space-0-25;
$space2: $space-0-50;
$space3: $space-0-75;
$space4: $space-1;
$space6: $space-1-5;
$space8: $space-2;
$space10: $space-2-5;
$space12: $space-3;
$space16: $space-4;
$space20: $space-5;
$space24: $space-6;
