@import '../../bace/style.scss';

.or-filter {
    background-color: $neutral-bg-1-default;
    border-right: 1px solid $neutral-border-7-default;
    width: 320px;
    min-width: 320px;
    height: auto;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    z-index: 2;


    @media screen and (max-width: 768px){
        position: fixed;
    }

    @media screen and (max-width: 600px){
       position: fixed;
       width: 100%;

    }

    ::backdrop {   
        @media screen and (max-width: 768px){
        background-color: rgb(0, 0, 0);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        }
    }
    
}
.filter-header{
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;
    padding: $space4 $space6;
    gap: $space1;
    border-bottom: 1px solid $neutral-border-7-default;
    background-color: $neutral-bg-1-default;
    z-index: 1;
}

.customize-section{
    padding: $space6;
    border-bottom: solid 1px $neutral-border-7-default;
    display: flex;
    flex-direction: column;
    gap: $space6;
}

.category-section{
    padding: $space6;
    
}
// .backdrop{
//     z-index: 6;
    

//     @media screen and (max-width: 768px){
//         position: fixed;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background-color: rgba(0, 0, 0, 0.5);
//         z-index: 1;
//     }
// }
